<!--模版文件-->



<!-- 最底部模块 -->
<footer th:fragment="footer">
    <div class="footer_1"></div>
    <div class="footer_2"><a href="#">联系我们</a>
        <a href="#">申请收录</a>
        <a href="#">蜘蛛协议</a>
        <a href="#">隐私条款</a>
        <a href="#">免责声明</a>
        <a href="#">关于我们</a></div>
    <div class="footer_3">Copyright © 2019 - 2020 . All Rights Reserved . 版权所有神来小说网</div>
    <div class="footer_4">本站内容系神来小说网根据您的指令搜索各大小说站得到的链接列表，不代表神来小说网赞成被搜索网站的内容或立场</div>
    <div class="footer_5">如果版权人认为在本站放置您的作品有损您的利益，请发邮件至"10000@qq.com",本站确认后立即删除</div>
    <div class="footer_6">Processed in 0.081(s), Memory: 1.402MB, Sqls: 54, cacheread: 776, cachewrite: 55, net:0.
    </div>
</footer>