<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbtest.dao.AccountMappers">
    <select id="selectByAccount" resultMap="accountResultMap">
        select *from account
        where account=#{account}
    </select>
    <resultMap id="accountResultMap" type="com.dbtest.entity.Account">
        <result property="account" column="account"></result>
        <result property="name" column="name"></result>
        <result property="password" column="password"></result>
        <result property="lv" column="lv"></result>
        <result property="vip" column="vip"></result>
    </resultMap>
    <insert id="insertAccount" parameterType="com.dbtest.entity.Account">
        insert into accountdb(account,name,password,lv,vip)
        values (#{account},#{name},#{password},#{lv},#{vip})
    </insert>


</mapper>