<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbtest.dao.BookMappers">

        <select id="selectBookByName" resultMap="booktResultMap">
            <bind name="name" value="'%' + bookName + '%'"/>
            select *from book where bookName like #{name}
        </select>
        <resultMap id="booktResultMap" type="com.dbtest.entity.Book">
            <result property="bookName" column="bookName"></result>
            <result property="id" column="id"></result>
            <result property="uploadTime" column="uploadTime" javaType="DATE"></result>
            <result property="changeTime" column="changeTime" javaType="DATE"></result>
            <result property="url" column="url"></result>
            <result property="uploaderAccount" column="uploaderAccount"></result>
            <collection property="comments" select="com.dbtest.dao.CommentMappers.getCommentByBookName" column="bookName" fetchType="lazy"></collection>
        </resultMap>

    <select id="selectOneBookByName" resultMap="ListBookMap">
        select * from book where bookName = #{bookName}
    </select>

    <select id="selectAllBook" resultMap="ListBookMap">
        select * from book
    </select>
    <resultMap id="ListBookMap" type="com.dbtest.entity.Book">
        <result property="bookName" column="bookName"></result>
        <result property="id" column="id"></result>
        <result property="uploadTime" column="uploadTime" javaType="DATE"></result>
        <result property="changeTime" column="changeTime" javaType="DATE"></result>
        <result property="url" column="url"></result>
        <result property="uploaderAccount" column="uploaderAccount"></result>
        <collection property="comments" select="com.dbtest.dao.CommentMappers.getCommentByBookName" column="bookName" fetchType="lazy"></collection>
    </resultMap>

</mapper>