<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbtest.dao.BulletScreenMappers">
    <select id="selectBulletScreen" resultMap="bulletScreenResultMap">
        select *from bulletScreenDb
        inner join accountDb on bulletScreenDb.account=accountDb.account
        where id=#{id}
    </select>
    <resultMap id="bulletScreenResultMap" type="com.dbtest.entity.BulletScreen">
        <result property="id" column="id"></result>
        <result property="content" column="content"></result>
        <association property="sender" select="selectByAccount" column="account"></association>
    </resultMap>
</mapper>