<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbtest.dao.CommentMappers">
    <select id="selectComment" resultMap="commentResultMap">
        select *from commentDb
        inner join accountDb on commentDbDb.account=accountDb.account
        where id=#{id}
    </select>
    <resultMap id="commentResultMap" type="com.dbtest.entity.Comment">
        <result property="content" column="content"></result>
        <association property="sender" select="selectByAccount" column="account" fetchType="lazy"></association>
        <!--这里可能有问题-->
    </resultMap>
    <insert id="insertComment" parameterType="com.dbtest.entity.Comment">
        insert into commentdb(content,account,bookName,isDescription)
        values (#{content},#{account},#{bookName},#{isDescription})
    </insert>
</mapper>